#laeufer
{
	margin-left: 121px;
	width: 200px;
}

#anlass
{
	margin-left: 115px;
	width: 200px;
}

#zeit
{
	margin-left: 138px;
	width: 197px;
}

#zeiten_erfassen_tabelle
{
	width: 95%;
	margin: 0 auto;
}

.controls
{
	text-align: center;
}

a
{
	color: black;
}

#speichern_button
{
	margin-left: 30px;
}

